<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.moneyapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.moneyapp.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.moneyapp.MainMenu"
            android:label="@string/title_activity_main_menu" >
        </activity>
        <activity
            android:name="com.example.moneyapp.Calendar"
            android:label="@string/title_activity_calendar"
            android:parentActivityName="com.example.moneyapp.MainMenu" >
        </activity>
        <activity
            android:name="com.example.moneyapp.Profile"
            android:label="@string/title_activity_profile"
            android:parentActivityName="com.example.moneyapp.PerPerson" >
        </activity>
        <activity
            android:name="com.example.moneyapp.GroupProfile"
            android:label="@string/title_activity_group_profile"
            android:parentActivityName="com.example.moneyapp.PerPerson" >
        </activity>
        <activity
            android:name="com.example.moneyapp.transaction.PerPerson"
            android:label="@string/title_activity_per_person_log"
            android:parentActivityName="com.example.moneyapp.MainMenu" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.moneyapp.MainMenu" />
        </activity>
        <activity
            android:name="com.example.moneyapp.transaction.Transactions"
            android:label="@string/title_activity_transactions" >
        </activity>
        <activity
            android:name="com.example.moneyapp.message.Messages"
            android:label="@string/title_activity_messages"
            android:parentActivityName="com.example.moneyapp.MainMenu" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.moneyapp.MainMenu" />
        </activity>
        <activity
            android:name="com.example.moneyapp.WishList"
            android:label="@string/title_activity_wish_list"
            android:parentActivityName="com.example.moneyapp.MainMenu" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.moneyapp.MainMenu" />
        </activity>
        <activity
            android:name="com.example.moneyapp.Settings"
            android:label="@string/title_activity_settings"
            android:parentActivityName="com.example.moneyapp.MainMenu" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.moneyapp.MainMenu" />
        </activity>
        <activity
            android:name="com.example.moneyapp.SignUp"
            android:label="@string/title_activity_sign_up" >
        </activity>
        <activity
            android:name="com.example.moneyapp.ExampleListActivity"
            android:label="@string/title_activity_list" >
        </activity>
        <activity
            android:name="com.example.tests.ListViewLoader"
            android:label="@string/title_activity_list" >
        </activity>
        <activity
            android:name="com.example.moneyapp.transaction.PerPersonProfile"
            android:label="@string/title_activity_per_person_log_profile"
            android:uiOptions="splitActionBarWhenNarrow" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.moneyapp.MainMenu" />
        </activity>
        <activity
            android:name="com.example.moneyapp.transaction.LogPageFragment"
            android:label="@string/title_activity_log_page_fragment"
            android:uiOptions="splitActionBarWhenNarrow" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.moneyapp.MainMenu" />
        </activity>
        <activity
            android:name="com.example.moneyapp.message.MessageListActivity"
            android:label="@string/title_person_list"
            android:parentActivityName="com.example.moneyapp.MainMenu" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.moneyapp.MainMenu" />
        </activity>
        <activity
            android:name="com.example.moneyapp.message.MessageDetailActivity"
            android:label="@string/title_person_detail"
            android:parentActivityName="com.example.moneyapp.message.MessageListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PersonListActivity" />
        </activity>
        <activity
            android:name="com.example.moneyapp.transaction.PerItem"
            android:label="@string/title_activity_per_item"
            android:parentActivityName="com.example.moneyapp.MainMenu" >
        </activity>
        <activity
            android:name="com.example.moneyapp.transaction.NewTransaction"
            android:label="@string/title_activity_new_transaction"
            android:windowSoftInputMode="adjustNothing|stateHidden" >
        </activity>
        <activity
            android:name="com.example.moneyapp.MainLargeActivity"
            android:label="@string/title_activity_main_large" >
        </activity>
        <activity
            android:name="com.example.moneyapp.MainMenuLarge"
            android:label="@string/title_activity_main_menu_large" >
        </activity>
        <activity
            android:name="com.example.moneyapp.transaction.NewPerson"
            android:label="@string/title_activity_new_person"
            android:windowSoftInputMode="stateHidden"
            android:theme="@android:style/Theme.Holo.Light.Dialog.MinWidth"
            android:excludeFromRecents="true" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/search_person" />
        </activity>
        <activity
            android:name="com.example.moneyapp.friend.Friend"
            android:label="@string/title_activity_friend"
            android:parentActivityName="com.example.moneyapp.MainMenu" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.moneyapp.MainMenu" />
        </activity>
        <activity
            android:name="com.example.moneyapp.transaction.PerItemDetails"
            android:label="@string/title_activity_per_item_details"
            android:parentActivityName="com.example.moneyapp.transaction.PerItem"
            android:windowSoftInputMode="adjustNothing|stateHidden" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.moneyapp.transaction.PerItem" />
        </activity>
    </application>

</manifest>