*.log
*.aux
*.synctex.gz
*.pdf
*.class
*~
*.orig
MoneyApp/bin/classes/
MoneyApp/bin/dexedLibs/android-support-v4-fb591a*
MoneyApp/gen/com/example/moneyapp/R.java
MoneyApp/gen/com/example/moneyapp/R*.*
example-context/logs/*