*.log
*.aux
*.synctex.gz
*.pdf
*.class
*~
*.orig
MoneyApp/bin/res/
MoneyApp/bin/classes/
MoneyApp/bin/resources.ap_
MoneyApp/bin/classes.dex
MoneyApp/bin/MoneyApp.apk
MoneyApp/bin/jarlist.cache
MoneyApp/bin/dexedLibs/
MoneyApp/bin/dexedLibs/android-support-v4-fb591a*
MoneyApp/gen/com/example/moneyapp/R.java
MoneyApp/gen/com/example/moneyapp/R*.*
example-context/logs/*
example-context/conf/PID
